@{
    ViewBag.Title = "Регистрация";
}

<div ng-controller="registrationController" class="registration">
    <h2>График</h2>
    <div class="week">
        <form class="form-inline">
            <div class="form-group">
                <a class="week-prev clear-href" ng-click="week.prev()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <span class="week-name">{{ week.name() }}</span>
                <a class="week-next clear-href" ng-click="week.next()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <div class="form-group" style="margin-left: 10px">
                <input data-med-week-input class="form-control" ng-model="week.currentDate" />
            </div>
            <div class="form-group" style="margin-left: 10px">
                <label for="doctorsList">Избор на Лекър:</label>
                <select id="doctorsList" class="form-control"
                        ng-model="selectedDoctor"
                        ng-options="(d.title + ' ' + d.firstName + ' ' + d.lastName) for d in week.doctors() track by d.doctorId">
                    <option value="">Всички</option>
                </select>
            </div>
        </form>
    </div>

    <div ng-repeat="day in week.days" class="schedule-day">
        <table class="schedule">
            <thead>
                <tr>
                    <th style="width: 80px">Ден</th>
                    <th style="width: 250px">Име</th>
                    <th ng-repeat="hour in day.hours" style="width: 80px" colspan="12" ng-bind="hour"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="week-day" rowspan="{{ day.doctors.length + 1 }}" data-day="{{day.date | date:'yyyy-MM-dd'}}">
                        <span class="rotated-text">
                            <span class="rotated-text_inner" ng-bind="day.date | dateDisplay"></span>
                        </span>
                    </td>
                </tr>
                <tr ng-repeat="doctor in day.doctors | doctorFilter:selectedDoctor" class="doctor-row" ng-class="{ 'single-row': day.doctors.length === 1, 'multiple-row': day.doctors.length > 1 }"
                    data-day="{{day.date | date:'yyyy-MM-dd'}}">
                    <td class="doctor-name" ng-bind="doctor.title + ' ' + doctor.firstName + ' ' + doctor.lastName"></td>
                    <td ng-repeat="hour in doctor.hours | nonZeroHour" colspan="{{ (hour.to - hour.from) / 5 }}"
                        ng-class="{ 'non-work': hour.work == 0, 'nzok': hour.isnzok, 'reserved': hour.isReserved }" vm-qtip
                        class="doctor-hour">
                        <div ng-show="hour.work == 1" class="dropdown">
                            <div class="dropdown-toggle"></div>
                            <ul class="dropdown-menu" role="menu">
                                <li class="clickable" ng-hide="hour.isReserved">
                                    <a ng-click="registerHour(doctor, day.date, hour)">Запис на час</a>
                                </li>
                                <li class="clickable" ng-show="hour.isReserved">
                                    <a ng-click="unRegisterHour(hour.reservation.id, day.date)">Отмяна на час</a>
                                </li>
                                <li class="clickable" ng-show="hour.isReserved">
                                    <a ng-click="viewPatient(hour.reservation.patientId)">Виж пациент</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Styles
{
    <link href="~/static/css/registration.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/static/js/registration/registration.js"></script>
    <script src="~/static/js/common/patient.js"></script>
}
