@{
    ViewBag.Title = "Пациенти";
}
<div class="container" ng-controller="patientsController">
    <div>
        <div class="col-xs-2">
            <button class="btn btn-default" ng-click="add()">Добави нов пациент</button>
        </div>
        <div class="col-xs-3 col-xs-offset-7">
            <div class="input-group">
                <input type="search" ng-model="searchText" class="form-control" />
                <span class="input-group-addon glyphicon glyphicon-search" style="top: 0"></span>
            </div>
        </div>
    </div>
    <table class="table table-hover table-nomen">
        <thead>
            <tr>
                <th style="width: 10px"></th>
                <th style="width: 100px; text-align: center">Име</th>
                <th style="width: 100px; text-align: center">Фамилия</th>
                <th style="width: 100px; text-align: center">Идент. Номер</th>
                <th style="width: 100px; text-align: center">Телефон</th>
                <th style="width: 100px; text-align: center">Имейл</th>
            </tr>
        </thead>
        <tbody ng-cloak="">
            <tr ng-repeat="patient in patients | multiSearch:searchText | limitTo:20">
                <td class="controls">
                    <a ng-click="edit(patient.id)"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td ng-bind="patient.fn">/td>
                <td ng-bind="patient.ln"></td>
                <td ng-bind="patient.in"></td>
                <td ng-bind="patient.pn"></td>
                <td ng-bind="patient.em"></td>
            </tr>
        </tbody>
    </table>
</div>

@section Styles
{
    <link href="~/static/css/patient.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/static/js/common/patient.js"></script>
}
