<div class="modal-form">
    <form role="form" method="POST" action="@Url.Action("Register")">
        <div class="form-group">
            <label for="inputName" class="control-label">Пациент</label>
            <input type="text" class="form-control" id="inputName" name="Name" placeholder="Пациент">
        </div>
    </form>
</div>