@model List<MedRegistration.Data.Title>
<div class="modal-form">
    <form role="form" method="POST" action="@Url.Action("Add")">
        <div class="form-group">
            <label for="inputTitle" class="control-label">Титла</label>
            <select class="form-control" name="TitleId">
                @foreach (var title in Model)
                {
                    <option value="@title.Id">@title.Description</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="inputName" class="control-label">Име</label>
            <input type="text" class="form-control" id="inputName" name="FirstName" placeholder="Име">
        </div>
        <div class="form-group">
            <label for="inputFamily" class="control-label">Фамилия</label>
            <input type="text" class="form-control" id="inputFamily" name="LastName" placeholder="Фамилия">
        </div>
        <div class="form-group">
            <label for="inputDefaultExampTime" class="control-label">Време за преглед (мин.)</label>
            <input type="number" class="form-control" id="inputDefaultExampTime" name="DefaultExamTime" placeholder="Време за преглед" value="20">
        </div>
        <div style="margin-top: 5px; overflow: hidden">
            <button type="submit" class="btn btn-default" style="float: left; width: 100px">Запис</button>
            <button type="button" class="btn btn-default" style="float: right; width: 100px" ng-click="delete()" ng-show="model.id > 0">Изтрий</button>
        </div>
</form>
</div>