@{
    ViewBag.Title = "Лекъри";
}
<div class="container" ng-controller="doctorsController">
    <button class="btn btn-default" ng-click="add()">Добави нов лекар</button>
    <table class="table table-hover table-nomen">
        <thead>
            <tr>
                <th style="width: 10px"></th>
                <th style="width: 100px; text-align: center">Титла</th>
                <th style="width: 100px; text-align: center">Име</th>
                <th style="width: 100px; text-align: center">Фамилия</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doctor in doctors">
                <td class="controls">
                    <a ng-href="/Schedule?doctorId={{doctor.id}}">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </a>
                    <a ng-click="edit(doctor.id)"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                <td ng-bind="doctor.title"></td>
                <td ng-bind="doctor.firstName"></td>
                <td ng-bind="doctor.lastName"></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/static/js/doctor.js"></script>
}
