div.registration {
	margin: 0 10px;
}

div.week {
	margin-bottom: 10px;
}

@mixin rotate($deg) {
	-webkit-transform: translate(15px,100%) rotate($deg);
	-moz-transform: translate(15px,100%) rotate($deg);
	-ms-transform: translate(15px,100%) rotate($deg);
	-o-transform: translate(15px,100%) rotate($deg);
	transform: translate(15px,100%) rotate($deg);
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

$single-row-height: 100px;
$multiple-row-height: 50px;

@mixin border-left-right($color) {
	border-left: 1px solid $color;
	border-right: 1px solid $color;
}

@mixin border-top-bottom($color) {
	border-top: 1px solid $color;
	border-bottom: 1px solid $color;
}

table.schedule {
	width: 100%;
	border-collapse: separate;

	th {
		text-align: center;
		@include border-top-bottom(#eee);
		@include border-left-right(#eee);
	}

	td.week-day {
		width: 1px;
		padding: 10px 0;
		vertical-align: middle;
		@include border-top-bottom(#eee);

		.rotated-text {
			display: inline-block;
			overflow: hidden;
		}

		.rotated-text_inner {
			display: inline-block;
			white-space: nowrap;
			@include rotate(-90deg);
		}

			.rotated-text_inner:after {
				content: "";
				float: left;
				margin-top: 100%;
			}
	}

	tr.doctor-row {
		
		td {
			padding: 0;
			@include border-left-right(#eee);
			@include border-top-bottom(#eee);
			div {
				height: 100%;
			}
		}

			td.non-work {
				background-color: #f1f1f1;
			}

			td.nzok {
				background-color: #0ff;
			}

			td.reserved {
				background-color: #8b0000;
			}

			td.doctor-name {
				padding: 0 5px;
				vertical-align: middle;
			}
	}

		tr.doctor-row:hover {
			td {
				@include border-top-bottom(#000);
			}
			td.doctor-name {
				color: #228b22;
			}
		}

		tr.doctor-row.single-row {
			height: $single-row-height;

			td {
				height: $single-row-height;
			}
		}

		tr.doctor-row.multiple-row {
			height: $multiple-row-height;

			td {
				height: $multiple-row-height;
			}
		}
}

div.patient-container {
	max-height: 400px;
	overflow: auto;
}
