@mixin rotate($deg) {
	-webkit-transform: translate(15px,100%) rotate($deg);
	-moz-transform: translate(15px,100%) rotate($deg);
	-ms-transform: translate(15px,100%) rotate($deg);
	-o-transform: translate(15px,100%) rotate($deg);
	transform: translate(15px,100%) rotate($deg);
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

table.schedule {
	width: 100%;

	th {
		text-align: center;
	}

	td.week-day {
		width: 1px;
		padding: 10px 0;

		.rotated-text {
			display: inline-block;
			overflow: hidden;
		}

		.rotated-text_inner {
			display: inline-block;
			white-space: nowrap;
			@include rotate(-90deg);
		}

			.rotated-text_inner:after {
				content: "";
				float: left;
				margin-top: 100%;
			}
	}

	td.doctor-name {
		padding: 0 5px;
		vertical-align: middle;
	}

	td.non-work {
		background-color: #eee;
	}

	td.nzok {
		background-color: aqua;
	}

	td.doctor-hour {
		height: 1px;
		position: relative;
		padding: 0;

		div {
			height: 100%;
		}
	}
}
